<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h3>Validation</h3>
<form action="/validate" method="post">
    <table>
        <tr>
            <td>
                <p>
                    It only last 30 secs!!
                </p>
            </td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><p th:text="'Hello, pelase introduce this code: ' + ${key}"/></td>
            <td><input type="text" th:name="code" th:placeholder="Code"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit post</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
